html {
  --theme-color: #9333ea;
}

.home_bg_image {
  background-position: 28rem 3rem;
}

@media (max-width: 680px) {
  .home_bg_image {
    background-position: 100% 100%;
  }
}

@media (min-width: 680px) and (max-width: 1000px) {
  .home_bg_image {
    background-position: 14rem 15rem;
  }
}

.w-webkit-fill {
  width: -webkit-fill-available;
}

.stroke-themeColor {
  stroke: var(--theme-color);
}

.border-themeColor {
  border-color: var(--theme-color);
}

.svg-themeColor svg {
  fill: var(--theme-color);
}

.svg-themeColor {
  fill: var(--theme-color);
}

.svg-gray {
  fill: rgba(209, 213, 219, 0.91);
}

.badge {
  position: relative;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}

.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge:hover {
  top: -6px;
}
