html {
  --theme-color: #9333ea;
}

.home_bg_image {
  background-position: 28rem 3rem;
}

@media (max-width: 680px) {
  .home_bg_image {
    background-position: 100% 100%;
  }
}

@media (min-width: 680px) and (max-width: 850px) {
  .home_bg_image {
    background-position: 12rem 21rem;
  }
}

@media (min-width: 850px) and (max-width: 1100px) {
  .home_bg_image {
    background-position: 18rem 11rem;
  }
}

@media (min-width: 1100px) and (max-width: 1350px) {
  .home_bg_image {
    background-position: 20rem 7rem;
  }
}

@media (min-width: 1350px) and (max-width: 1550px) {
  .home_bg_image {
    background-position: 30rem 3rem;
  }
}

@media (min-width: 1550px) and (max-width: 2000px) {
  .home_bg_image {
    background-position: 39rem -7rem;
    background-size: 80rem 80rem;
  }
}

@media (min-width: 2000px) and (max-width: 2400px) {
  .home_bg_image {
    background-position: 47rem -7rem;
    background-size: 80rem 80rem;
  }
}

@media (min-width: 2400px) and (max-width: 2750px) {
  .home_bg_image {
    background-position: 60rem -7rem;
    background-size: 80rem 80rem;
  }
}

@media (min-width: 2750px) and (max-width: 3250px) {
  .home_bg_image {
    background-position: 80rem -7rem;
    background-size: 80rem 80rem;
  }
}

@media (min-width: 3250px) {
  .home_bg_image {
    background-position: 90rem -7rem;
    background-size: 80rem 80rem;
  }
}

.w-webkit-fill {
  width: -webkit-fill-available;
}

.stroke-themeColor {
  stroke: var(--theme-color);
}

.border-themeColor {
  border-color: var(--theme-color);
}

.svg-themeColor svg {
  fill: var(--theme-color);
}

.svg-themeColor {
  fill: var(--theme-color);
}

.svg-gray {
  fill: rgba(209, 213, 219, 0.91);
}

.badge {
  position: relative;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}

.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge:hover {
  top: -6px;
}

.svg-green {
  fill: #4ade80;
}

.text-gradient {
  background: linear-gradient(to right, #8b5cf6, #6b46c1) !important;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
}

.hover-card:hover {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

@media (max-width: 900px) {
  .bg-image {
    background-image: none !important;
  }
}

.text-decoration-red {
  text-decoration: solid 1px red;
}

.large-svg svg {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
